@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel-body">
            <div class="panel-title">Employee Benefit Deduction</div>
            <a href="@Url.Action("Index", "Employee")" class="btn btn-primary">
                Benefit Deduction
            </a>
        </div>
    </div>
</div>
